.ko {
    padding-top: 5px;
}

.men-nav {
    z-index: -1;
}

.verse {
    gap: 10px;
}

.latest {
    height: 700px;
    background-position: center;
    background-size: cover;
}

.latest-1 {
    background-image: url('../images/mens/asset\ 5.jpeg');
}
.latest-2 {
    background-image: url('../images/mens/asset\ 6.jpeg');
}
.latest-3 {
    background-image: url('../images/mens/asset\ 7.jpeg');
}